<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitHibernateServlet</servlet-name>
    <servlet-class>dist.servlet.InitializeHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernateServlet</servlet-name>
    <url-pattern>/dist/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightsServlet</servlet-name>
    <servlet-class>dist.servlet.FlightList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightsServlet</servlet-name>
    <url-pattern>/dist/flights</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataGenServlet</servlet-name>
    <servlet-class>dist.servlet.DataGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGenServlet</servlet-name>
    <url-pattern>/dist/datagen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>dist.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/dist/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentProcessingServlet</servlet-name>
    <servlet-class>dist.servlet.PaymentProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentProcessingServlet</servlet-name>
    <url-pattern>/dist/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightRegistrationServlet</servlet-name>
    <servlet-class>dist.servlet.SaveFlightRegistry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightRegistrationServlet</servlet-name>
    <url-pattern>/dist/flightRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminOpsServlet</servlet-name>
    <servlet-class>dist.servlet.AdminOps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOpsServlet</servlet-name>
    <url-pattern>/dist/adminOps</url-pattern>
  </servlet-mapping>
</web-app>